body, h1,h2,h3,p,div,input{
	font-family: 'Fira Sans', sans-serif;
    color: #666;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
	font-weight: 300;
}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td{
	font-weight: 600;
}
.skin-black .main-header>.logo{
	background-color: #222;
	color:#fff;
}
.skin-black .main-header .navbar{
	background-color:#222;
	color:#fff
}
.skin-black .main-header>.logo:hover, .skin-black .main-header .navbar .sidebar-toggle:hover, .skin-black .main-header .navbar .nav>li>a:hover{
	color: #fff;
    background: #1e282c;
    border-left-color: #fff;
}

.skin-black .main-header .navbar>.sidebar-toggle{
	color:#fff;
}
.skin-black .main-header .navbar .nav>li>a{
	color:#fff;
}
.dz-download{
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
}
.dz-download:hover{
	cursor:pointer !important;
	text-decoration: underline;
}
@media (min-width: 768px){
	.modal-lg{
		width:700px !important;
        max-width: 700px;
	}
}

@media (min-width: 900px){
	.modal-lg{
		width:800px !important;
        max-width: 800px;
	}
}
@media (min-width: 1200px){
	.modal-lg{
		width:1100px !important;
        max-width: 1100px;
	}
}

@media (min-width: 1400px){
	.modal-lg{
		width:1300px !important;
        max-width: 1300px;
	}
}

@media (min-width: 1600px){
	.modal-lg{
		width:1500px !important;
        max-width: 1500px;
	}
}

@media (min-width: 1800px){
	.modal-lg{
		width:1700px !important;
        max-width: 1700px;
	}
}

@media (min-width: 2000px){
	.modal-lg{
		width:1900px !important;
        max-width: 1900px;
	}
}

/*datetimepicker styles */
.picker-switch:hover{
	background-color:#3c8dbc;
}
.picker-switch:hover a{
		color:#fff;
		background-color:#3c8dbc;
	}
.picker-switch table
{
    width: 100%;
    text-align: center;
}
.picker-switch a{
	width:100%;
	display:block;
}
a.download-file{
	display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 5px;
}

.dropzone .dz-preview .dz-image img{
	width:120px;
	height: 120px;
}

.panel-default>.panel-heading:hover {
	cursor:pointer;
}
/* se coloca el important para que el width no cambie */
.select2-container{
	width: 100% !important;
	height: 100%;

}
.select2-dropdown--below{
    margin-top:-39px;
}
/*.datepicker > div { display: inherit; }
 */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*modificar estilos para compatibilidad con B4*/
.navbar-custom:before, .navbar-custom:after{
    display: table;
    content: " ";
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled){
    cursor: pointer;
}
/*Media query*/
@media only screen and (max-width: 1300px) {
  a.download-file{
  	float:right;
  }
}

@media (min-width: 768px){
    .navbar-toggle {
        display: none;
    }
}
@media (min-width: 768px){
   .navbar-custom > li {
        float: left;
    } 

}

@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }

}

.nav > li {
    position: relative;
    display: block;
}
.nav > li > a{
    position: relative;
    display: block;
    padding: 10px 15px;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


.open > .dropdown-menu{
    display: block;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li > a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.6;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #d3e0e9;
}

.navbar .container-fluid.top-bar .logo{
    background:inherit;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.dataTables_wrapper.form-inline{
    display: block;
}

.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td{
    padding: 5px;
}
/*estilo para divs*/
.border-check{
    height: 50px;
    margin:5px;
    padding: 10px;
}

.border-check:hover{
    cursor:pointer;
}
.custom-radio-kareem input:checked ~ .border-check {
  border: solid 3px #222;
  outline: none;
}

