body, h1,h2,h3,p,div,input{
	font-family: 'Fira Sans', sans-serif;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
	font-weight: 300;
}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td{
	font-weight: 600;
}
.skin-black .main-header>.logo{
	background-color: #222;
	color:#fff;
}
.skin-black .main-header .navbar{
	background-color:#222;
	color:#fff
}
.skin-black .main-header>.logo:hover, .skin-black .main-header .navbar .sidebar-toggle:hover, .skin-black .main-header .navbar .nav>li>a:hover{
	color: #fff;
    background: #1e282c;
    border-left-color: #fff;
}

.skin-black .main-header .navbar>.sidebar-toggle{
	color:#fff;
}
.skin-black .main-header .navbar .nav>li>a{
	color:#fff;
}
.dz-download{
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
}
.dz-download:hover{
	cursor:pointer !important;
	text-decoration: underline;
}

@media (min-width: 1200px){
	.modal-lg{
		width:1100px;
	}
}

@media (min-width: 1400px){
	.modal-lg{
		width:1300px;
	}
}

@media (min-width: 1600px){
	.modal-lg{
		width:1500px;
	}
}

@media (min-width: 1800px){
	.modal-lg{
		width:1700px;
	}
}

@media (min-width: 2000px){
	.modal-lg{
		width:1900px;
	}
}

//datetimepicker styles
.picker-switch:hover{
	background-color:#3c8dbc;
}
.picker-switch:hover a{
		color:#fff;
		background-color:#3c8dbc;
	}
.picker-switch table
{
    width: 100%;
    text-align: center;
}
.picker-switch a{
	width:100%;
	display:block;
}
a.download-file{
	display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin-left:5px;
}

.dropzone .dz-preview .dz-image img{
	width:120px;
	height: 120px;
}

.panel-default>.panel-heading:hover {
	cursor:pointer;
}
/* se coloca el important para que el width no cambie */
.select2-container{
	width: 100% !important;
}

/*modificar estilos para compatibilidad con B4*/
.custom-navbar{
	position: inherit;
}
/*estilo para divs*/
.border-check{
	height: 50px;
	margin:5px;
	padding: 10px;
}

.border-check:hover{
	cursor:pointer;
}
.custom-radio-kareem input:checked ~ .border-check {
  border: solid 3px #222;
  outline: none;
}